body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Override bootstrap style*/

.navbar-inverse {
    background-color: #fb3e2d;
    border-color: #fb3e2d;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(210, 9, 9, 0.68);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    font-weight: 700;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control:focus {
    border-color: #6cd4ff;
    outline: 0;
     -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 44px;
    /*padding: 20px 15px;*/
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.btn {
    /*padding: 6px 21px;
    font-size: 17px;*/
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.field-validation-error {
    color: red;
}

/*Override page level*/

.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background-color: red;
    width: 60px;
    text-align: center;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 6px;
}

.gigs > li .date .day {
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    left: 80px;
    top: 0;
    
}

.gigs > li .details .artist {
    display: block;
    font-weight: 700;
    /*font-size: 14px;*/
    /*padding: 5px 10px;*/
}

.gigs > li .details .following {
    display: block;
}

.gigs > li .details .venue {
    font-size: 15px;
    /*padding: 5px 10px;*/
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 20px;
}

.voffset4 {
    margin-top: 40px;
}